.btn,
.btn:link,
.btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  outline: none;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  color: #fff;
  background: rgba(30, 55, 153, 0.8);
  margin: 0 1.5rem;
  border-radius: 2px;
  font-weight: 700;
  //border: 1px solid #EC008C;
  height: 4.5rem;
  cursor: pointer;
}

.btn {
  &__header {
    background: linear-gradient(to right bottom, #EC008C, #FC6767);
    @media only screen and (max-width: 65.563em) {
      padding: .5rem 4rem;
      margin: 1rem 0;
      text-align: center;
      font-size: 1.8rem;
    }

    &--create {
      background: linear-gradient(to right bottom, #EC008C, #FC6767);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      border: 1px solid #EC008C;

      @media only screen and (max-width: 65.563em) {
        padding: .5rem 4rem;
        margin: 1rem 0;
        text-align: center;
        font-size: 1.8rem;
      }
    }
  }

  &__signup {
    margin: 0;
    border-radius: 0% 3rem 3rem 0%;
    font-size: 1.4rem;
    height: 5rem;
    border: 1px solid rgba(30, 55, 153, 0.8);

    @media only screen and (max-width: 50em) {
      padding: .7rem;
      height: 5.5rem;
      border-radius: 3rem;
      width: 100%;
    }
  }

  &__social {
    height: 5.5rem;
    min-width: 14rem;
    text-transform: none;
    font-size: 2rem;
    margin: 1rem 2rem;
    border-radius: .5rem;

    &--icon {
      height: 2.8rem;
      width: 2.8rem;
      transform: translateY(.4rem) translateX(-1.4rem);
      fill: #fff;
    }

    &--linkedIn {
      background: #0077B5;  
      border: 1px solid #0077B5;
    }

    &--google {
      color: #000000;
      background: #fff;
      border: 1px solid rgba(34, 47, 62,.5);
    }
  }
}