.container {
  padding: 4rem 17rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26.5rem, 1fr));
  grid-gap: 2rem;
  align-items: start;
  margin-top: 6rem;
  justify-content: center;

  @media only screen and (max-width: 107.875em) {
    padding: 4rem 9rem;
  }

  @media only screen and (max-width: 92.5em) {
    padding: 4rem;
  }

  @media only screen and (max-width: 69.063em) {
    padding: 4rem 2rem;
  }

  @media only screen and (max-width: 56.375em) {
    padding: 4rem 0rem;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  }

  @media only screen and (max-width: 50em) {
    padding: 4rem 6rem;
  }

  @media only screen and (max-width: 37.5em) {
    padding: 4rem 2rem;
  }

  @media only screen and (max-width: 30em) {
    padding: 4rem 3rem;
  }

  @media only screen and (max-width: 25.875em) {
    padding: 4rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  }
  
  &__header {
    grid-column: 1 / -1;
    color: transparent;
    background: linear-gradient(to right, #302B63, #0F0C29);
    -webkit-background-clip: text;
    background-clip: text;

    &--label-main {
      font-size: 2.5rem;
      font-weight: 900;
    }

    &--label-sub {
      font-size: 1.8rem;
    }
  }
}