.container {
  padding: 4rem 19rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26.5rem, 1fr));
  grid-gap: 2rem;
  align-items: start;
  margin-top: 6rem;
  justify-content: center;
  
  &__header {
    grid-column: 1 / -1;
    grid-row: span 3;
    color: rgba(30, 39, 46,1.0);

    &--label-main {
      font-size: 2.5rem;
      font-weight: 900;
    }

    &--label-sub {
      font-size: 1.8rem;
    }
  }
}