.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  padding: 1rem 2rem;
  z-index: 6000;
  display: flex;
  align-items: center;

  &__searchopen {

    &--closeicon {
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      top: 10%;
      right: 0;
      z-index: 3;
      height: 5rem;
      width: 5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    &--svg {
      height: 2.5rem;
      width: 2.5rem;
      fill: rgba(30, 39, 46,1.0);
    }

    &--input {
      height: 5rem;
      font-size: 2rem;
      width: 100%;
      border: none;
      outline: none;
      padding: 1rem 1.5rem;
      transition: all .3s ease-in;
    }
  }

  &__search {
    margin-left: 3rem;
    transform: translateY(.5rem);
    cursor: pointer;

    &:hover &--searchicon {
      fill: rgba(44, 44, 84,1.0)
    }

    &--searchicon {
      height: 2.5rem;
      width: 2.5rem;
      fill: rgba(30, 39, 46,1.0);
    }
  }

  &__appname {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 900;
    color: rgba(44, 44, 84,1.0);
  }

  &__menu {
    position: absolute;
    right: 0;
    padding-right: 2rem;
    color: rgba(30, 39, 46,1.0);
    font-size: 1.9rem;
    font-weight: 700;

    &--item {
      display: inline-block;
      margin-right: 4.5rem;
      cursor: pointer;
      transition: all .1s ease-in;
      color: rgba(30, 39, 46,1.0);

      &:hover {
        color: rgba(44, 44, 84,1.0)
      }

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}