.jumbotron {
  margin-top: 7.9rem;
  height: 60rem;
  display: flex;

  &__firsthalf {
    width: 70%;
    background-image: linear-gradient(to bottom,rgba(0, 145, 255,.7),rgba(49, 27, 146,.9)),
		url('https://res.cloudinary.com/dxlhzerlq/image/upload/q_79/v1559594226/color-hands_hlfpvy.jpg');
	  background-size: cover;
	  background-position: center;
    background-attachment: fixed;

    &__mast {
      width: 75%;
      border-radius: 0rem 18rem 18rem 0rem;
      height: 70%;
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      padding-left: 10rem;
      color: #000000;

      &--p1 {
        font-weight: 400;
        font-size: 2.5rem;
        margin-bottom: 2rem;
        color: #fff;

        &-span {
          display: block;
        }
      }

      &--p2 {
        font-size: 1.9rem;
        font-weight: 700;
        letter-spacing: .3rem;
      }

      &--p3 {
        font-weight: 900;
        font-size: 4.3rem;
        transform: translateY(-2.4rem);
        letter-spacing: 6px;
      }

      &--btns {
        display: flex;

        &-btn {
          padding: 1.5rem 3rem;
          background: #000000;
          border-radius: 3rem;
          font-weight: 900;
          color: #fff;
          font-size: 1.5rem;
          text-align: center;
          text-transform: uppercase;
          margin-right: 2rem;
          border: solid 1.9px #000000;
          cursor: pointer;
          box-shadow: 0 6rem 1rem rgba(0, 0, 0, 0.1);
        }

        &-btn:nth-child(2) {
          background: transparent;
          color: #000000;
        }
      }
    }
  }

  &__secondhalf {
    position: relative;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: .2rem;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(30, 39, 46,.7);
    }

    & &__fig:nth-child(1) {
      grid-row: 1 / span 2;
      grid-column: 1 / span 4;
    }

    & &__fig:nth-child(2) {
      grid-row: 1 / span 4;
      grid-column: 5 / span 6;
    }

    & &__fig:nth-child(3) {
      grid-row: 3 / span 2;
      grid-column: 1 / span 4;
    }

    & &__fig:nth-child(4) {
      grid-row: 5 / span 3;
      grid-column: 6 / span 5; 
    }

    & &__fig:nth-child(5) {
      grid-row: 5 / span 3;
      grid-column: 1 / span 6;
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}