@keyframes spinThree {
  0% {
    transform: rotate(0deg);
  }
  
  50% {
    opacity: 0;
  }
  
  100% {
    transform: rotate(360deg);  
  }
}

.mediaupload {
  width: 100%;
  //dev styles 
  position: relative;
  width: 40%;
  margin: 4rem auto;
  //end of dev styles
  padding: 1rem 3rem;
  border-radius: 3rem;
  background: #F0F3F4;
  transition: all .1s ease-in-out;
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;

  &__h3 {
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__content {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 20rem));
    grid-gap: 1rem;
    align-items: start;
    margin-top: 2rem;
    z-index: 11;
    justify-content: center;

    &__notuploaded {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(252, 66, 123,.6);
      transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &__uploadedindicator {
      &--1 {
        position: absolute;
        top: 0;
        right: 0;
        width: .2rem;
        background: #EC008C;
        height: 0;
        border-radius: .3rem;
      }

      &--2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: .2rem;
        background: #EC008C;
        height: 0;
        border-radius: .3rem;
      }

      &--3 {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        background: #EC008C;
        height: .2rem;
        border-radius: .3rem;        
      }

      &--4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        background: #EC008C;
        height: .2rem;
        border-radius: .3rem;              
      }
    }

    & figure {
      position: relative;
      overflow: hidden;
      height: 20rem;
      border-radius: .3rem;
      transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);

      & span {
        transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      &:hover > .mediaupload__content__exbtn {
        opacity: 1;
      }
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;  
    }

    & video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;       
    }

    &__exbtn {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      cursor: pointer;
      z-index: 4;
      background: rgba(232, 67, 147,.7);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      opacity: 0;

      & svg {
        height: 3rem;
        width: 3rem;
        fill: #fff;
      }

      & span {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 4;
        background: rgba(232, 67, 147,.7);
      }
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    cursor: pointer;
  }

  &__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;

    & > svg {
      height: 10rem;
      width: 10rem;
      transition: all .5s ease-in;
      fill: rgba(45, 52, 54,1.0);
      animation: spinThree 1s linear 1s infinite;
    }
  }
}