.videogifphotoview {
  background: rgba(30,30,30,0.9);
  top: 0;
  left: 0;
  z-index: 9997;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;

  &__content {
    margin: 2rem auto;
    background: #f4f4f4;
    width: 50%;
    border-radius: .5rem;
    padding: 2rem 0;
    font-size: 1.6rem;

    &__top {
      position: relative;
      display: flex;
      align-items: center;
      padding: 1.5rem 3rem;
      margin-bottom: 1rem;

      &__names {
        margin-left: 1.5rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 2.1rem;

        &--item {
          &-follow {
            padding: .4rem 2rem;
            display: inline-block;
            margin-top: .5rem;
            border-radius: .3rem 3rem;
            color: #fff;
            font-weight: 700;
            cursor: pointer;
            background: linear-gradient(to right bottom, #EC008C, #FC6767);
          }
        }

        & &--item:nth-child(1) {
          font-weight: 700;
          font-size: 1.8rem;
        }

        & &--item:nth-child(2) {
          color: #EC008C;
          & h4 span {
            color: #000000;
            display: inline-block;
            margin-right: .5rem;
          }
        }
      }

      &--fig {
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
      }

      &--userimg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      &--btns {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding-right: 3rem;
        display: flex;
        align-items: center;

        & span {
          padding: .3rem 1rem;
          border-radius: .4rem;
          background: linear-gradient(to right bottom, #EC008C, #FC6767);
          font-weight: 700;
          color: #fff;
          margin-left: 1rem;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
          outline: none;

          & p {
            margin-left: .5rem;
          }
        }

        &-svg {
          height: 2.5rem;
          width: 2.5rem;
          fill: #fff;
        }
      }
    }

    &__media {
      position: relative;
      min-height: 60rem;
      background: green;
      margin: 0 auto;
      //use max-width for the actual media === 100%
    }

    &__bio {
      padding: 1.5rem 3rem;
      display: flex;

      &__firsthalf {
        width: 65%;

        &--text {
          border: 1px solid #ddd;
          padding: 1.5rem;

          & span {
            display: block;
            margin-bottom: 1.1rem
          }
        }

        &--tags {
          display: flex;
          flex-wrap: wrap;
          margin: 1.9rem 0;

          & span {
            display: inline-block;
            flex-shrink: 0;
            padding: 0 1rem;
            border-radius: 3rem;
            background: rgba(232, 67, 147,.5);
            margin-right: 1.4rem;
            margin-bottom: 1.2rem;
            color: #fff;
            cursor: pointer;
          }
        }

        &--comments {

          &-newcomment {
            margin-top: 1.5rem;
            position: relative;
          }

          &-newcomment-top {
            display: flex;
            align-items: center;
          }

          &-newcomment-fig {
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
            overflow: hidden;
          }
      
          &-newcomment-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }

          &-newcomment-inputparent {
            width: 93%;
          }

          &-newcomment-input {
            width: 100%;
            outline: none;
            border: none;
            background: transparent;
            border-bottom: 1px solid #ddd;
            padding: 1rem;

            &:focus {
              border-bottom: 1px solid #EC008C;
            }
          }

          &-newcomment-btns {
            position: relative;
            height: 4rem;
            margin-top: 1rem;

            & span {
              position: absolute;
              right: 0;
              bottom: 0;
              padding: 0 1.5rem;
              background: linear-gradient(to right bottom, #EC008C, #FC6767);
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-weight: 700;
              color: #fff;
              cursor: pointer;
              border-radius: 3rem;
              box-shadow: 0 0.5rem 0.5rem rgba(255, 0, 86, 0.4);
            }
          }

          &--headers {
            display: flex;
          }

          &--h3 {
            padding: 1rem 0;
            margin-bottom: 1.5rem;
            margin-right: 2rem;
            cursor: pointer;
            text-decoration: underline;
            color: rgba(30, 39, 46,.8)
          }
        }
      }

      &__secondhalf {
        width: 35%;
        padding-left: 2rem;

        &__sharebtns {
          display: flex;

          & span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem 1rem;
            margin-right: 1rem;
            cursor: pointer;

            & svg {
              height: 2.5rem;
              width: 2.5rem;
              transform: translateX(-1rem);
            }
          }
        }

        &__meta {
          font-size: 1.5rem;
          font-weight: 700;
          display: flex;
          flex-direction: column;
          color: rgba(30, 39, 46, 0.4);

          &--item {
            text-align: center;
            margin-top: 1.5rem;
            display: flex;
            align-items: center;
          }

          &--svg {
            height: 2rem;
            width: 2rem;
            fill: rgba(30, 39, 46, 0.4);
            margin-right: 1rem;
          }
        }

        &__works {
          margin: 2rem 0;

          &--photos {
            display: flex;
            align-items: center; 
            flex-wrap: wrap;
          }

          &--h4 {
            margin-bottom: 1rem;
            color: rgba(30, 39, 46, 0.7);

            & span {
              color: #EC008C;
              cursor: pointer;
            }
          }

          &--fig {
            height: 10rem;
            width: 12rem;
            overflow: hidden;
            border: .5rem solid#fff;
            flex-shrink: 0;
            margin-right: 1rem;
            margin-bottom: 1rem;
            cursor: pointer;
          }

          &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        }
      }
    }

    &__peopleinvolved {
      margin-top: 2rem;

      & h3 {
        font-weight: 700;
        padding: 1rem 0;
        color: #EC008C;
      }

      &--photos {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
      }

      & figure {
        height: 6rem;
        width: 6rem;
        margin-right: .5rem;
        margin-bottom: .5rem;
        border-radius: 50%;
        flex-shrink: 0;
        border: .5rem #fff solid;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0px 1px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.1)
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;       
      }
    }
  }
}