@import "base/base";
@import "base/typography";
@import "base/animations";
@import url("https://cdn.plyr.io/3.5.3/plyr.css");
@import "base/mixins";

//for development 
form {
  background: #fff;
  width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}